#comments-bsky {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.comment {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
}

.comment-post-header {
  margin: 25px 0 15px 0;
}

#comments-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.comment-body {
  flex: 1;
}

.comment-actions {
  flex-shrink: 0;
}

.author-link {
  text-decoration: none;
}

.avatar {
  display: flex;
  width: 40px;
  height: 40px;
}

.avatar-link {
  display: block;
}

.avatar-img {
  display: block;
  border: 1px solid var(--accent);
  padding: 0;
  margin: 0;
}

.comment-body {
  margin: 0;
  padding: 0;
}

.comment-text {
  margin: 5px 0;
}

.actions-link {
  display: none;
}
